body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  color: red;
  h1 {
    color: rgb(255, 255, 255);
  }
  h3 {
    color: blue;
  }

}